@use '../../../styles/vars';

.firstSection {
    display:flex;
    height: 49em;
    background-color: vars.$Very-Light-Gray;
    &__article {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 10em;
        &__title {
            font-size: 4em;
            font-weight: 400;
            color: vars.$Dark-Blue;
            margin-bottom: 0.5em;
        }
        &__paragraph{
            color: vars.$Grayish-Blue;
            font-size: 1.2em;
            line-height: 1.5em;
            text-align: start;
            margin-bottom: 2em;
        }
    }
    &__bgImg {
        position: absolute;
        width: 90em;
        top: -12em;
        right: -30em;
        z-index: 1;
    }
    &__bgMokups {
        position: relative;
        z-index: 2;
        width: 55em;
        top: -8em;
        right: -8em;
    }
}