@use '../../../../styles/vars';

.articlesList__item {
    width: 12em;
    background-color: vars.$White;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &__img {
        width: 12em;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        min-height: 11em;
        margin-bottom: 1em;
    }
    &__author {
        padding: 0.5rem 1.5rem;
        color: vars.$Grayish-Blue;
        font-size: 0.6em;
    }
    &__title {
        padding: 0.5rem 1.5rem;
        font-size: 0.9em;
        color: vars.$Dark-Blue;
        cursor: pointer;
        &:hover {
            color: vars.$Lime-Green;
        }
    }
    &__paragraph {
        padding: 0.5rem 1.5rem;
        font-size: 0.65em;
        color: vars.$Grayish-Blue;
        line-height: 1.3em;
    }
}

// -- RESPONSIVE -- //

@media screen and (max-width:375px) {
    .articlesList__item {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 2em;
        &__img {
            width: 100%;
        }
    }
}