@use '../../../styles/vars';

.secondSection {
    display:flex;
    flex-direction: column;
    height: 41em;
    background-color: vars.$Light-Grayish-Blue;
    &__article {
        display: flex;
        flex-direction: column;
        padding: 8em 45em 0 22em;
        &__title {
            font-size: 2em;
            font-weight: 400;
            color: vars.$Dark-Blue;
            margin-bottom: 0.5em;
        }
        &__paragraph{
            color: vars.$Grayish-Blue;
            line-height: 1.5em;
            margin-bottom: 3em;
        }
    }
    &__features {
        display: flex;
        justify-content: space-between;
        padding: 0 22em;
    } 
}

// -- RESPONSIVE -- //

@media screen and (max-width:375px) {
    .secondSection {
        height: auto;
        &__article {
            padding: 3em 1em;
            align-items: center;
            text-align: center;
        }
        &__features {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: inherit;
        } 
  }
}