@use '../../styles/vars';

.footer {
    display: flex;
    justify-content: space-between;
    background-color: vars.$Dark-Blue;
    padding: 3em 22em;
    &__logoList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 18%;
        color: vars.$White;
        &__logo {
            margin-left: 3.5em;
        }
        &__socialMedia {
            display: flex;
            justify-content: space-between;
            &__img {
                svg path {
                    transition: fill 150ms ease-in-out;
                  }
                cursor: pointer;
                  &:hover svg path {
                    fill: #31D35C;
                  }
            }
        }
    }
    &__navLinksContainer {
        width: 40%;
        color: vars.$Very-Light-Gray;
        font-weight: 300;
        &__navLinks {
            height: 6em;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item {
                height: 2em;
                color: vars.$Light-Grayish-Blue;
                font-size: 0.9rem;
                font-weight: 300;
                &:hover {
                    opacity: 0.8;
                    color: vars.$Lime-Green;
                }
            }
        }
    }
    &__buttonAndCopyrightContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 0.9rem;
        width: 20%;
        color: vars.$Grayish-Blue;
    }
    &__buttonAndCopyrightContainer p {
        font-size: 0.85em;
    }
}

// -- RESPONSIVE -- //

@media screen and (max-width:375px) {
    .logoContainer {
        display: flex;
        justify-content: center;
        width: inherit;
    }

    .footer {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logoList {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;  
            color: vars.$White;
            &__logo {
                margin-left: inherit;
                }
            &__socialMedia {
                margin-top: 2em;   
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        &__navLinksContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__navLinks {
                height: inherit;
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;
                &__item {
                    margin-top: 1.5em;
                }
            }
        }
        &__buttonAndCopyrightContainer {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.5em;
        }
        &__buttonAndCopyrightContainer p {
            margin-top: 1.5em;
            font-size: 1em;
        }
    }
}