@use '../../../../styles/vars';

.feature {
    width: 23%;
    &__img {
        width: 4em;
        margin-bottom: 2em;
        cursor: pointer;
        &:hover {
            animation: rotationAndScale 1s ease-in-out;
        }
    }
    &__title {
        font-size: 1.3em;
        font-weight: 400;
        color: vars.$Dark-Blue;
        margin-bottom: 1em;
    }
    &__paragraph{
        color: vars.$Grayish-Blue;
        font-size: 0.87em;
        line-height: 1.5em;
        text-align: start;
    }
}

// -- ANIMATIONS -- //

@keyframes rotationAndScale {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
}
